@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", sans-serif;
  color: #333333;
  background-color: #F4F4F5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #F4F4F5;
  color: #333333;
}

#root {
  min-height: 100vh;
}
